{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Welcome to the Meeting Organizer!</h1>

    <h3>Streamline Your Meetings, Elevate Your Productivity.</h3>
    <img src="{% static 'website/calendar.png' %}" width="100px">

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
        <li>
            <a href="{% url 'detail' meeting.id %}">
                {{ meeting.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    
    {% if user.is_authenticated %}
        <a href="{% url 'new' %}">Add New Meeting</a>
    {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to add a new meeting.</p>
    {% endif %}

    <a href="{% url 'rooms' %}">Rooms List</a>
{% endblock %}